* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 100%;
    background-image: url('../images/brownfamily/BigFamily.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    aspect-ratio: 14 / 5;
}

footer {
    width: 100%;
    background-image: url('../images/brownfamily/BigFamily2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    aspect-ratio: 13 / 5;
}

body {
    width: 100%;
    min-width: 600px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    font-size: 75px;
    color: midnightblue;
}

h2 {
    display: inline-block;
    width: 47%;
    padding: 1%;
    text-align: center;
}

h3 {
    padding: 0 0 15px 0;
}

h4 {
    padding: 0 0 15px 0;
}

img {
    width: 100%;
    height: auto;
    max-width: 250px;
    aspect-ratio: 5 / 6;
    object-fit: cover;
    border-radius: 15px;
}

.kid_pic {
    width: 70%;
    max-width: 200px;
    aspect-ratio: 5 / 6;
    object-fit: cover;
    border-radius: 10px;
}

.parents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
    margin: 2% auto;
}

.siblings-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.siblings {
    text-align: center;
    vertical-align: top;
    width: 15%;
    padding: 0.7%;
}